@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: "Open Sans", sans-serif;
    background-color: honeydew;
}
.nav{
    background-color: rgb(81, 81, 81);
    border: none;
    border-radius: 25px;
    display: flex;
    height: 70px;
    position: absolute;
    gap: 2%;
    width: 90%;
    justify-content: center;
    justify-self: center;
}
.nav a{
    background-color: aliceblue;
    height: 60%;
    border-radius: 15px;
    padding: 0 40px;
    margin-top: 10px;
    font-size: x-large;
    transition: 0.3s ease;
    color: rgb(81, 81, 81);
}
.nav a:hover{
    transform: scale(1.3);
    background-color: rgb(62, 62, 62);
    color: aliceblue;
}
