body{
    font-family: "Open Sans", sans-serif;
    background-color: honeydew;
}
h1{
    text-align: center;
    color: rgb(81, 81, 81);
    font-size: xxx-large;
}
.nav{
    background-color: rgb(81, 81, 81);
    border: none;
    border-radius: 25px;
    height: 70px;
    width: 90%;
    justify-self: center;
    display: flex;
}
.nav a{
    background-color: aliceblue;
    height: 60%;
    border-radius: 15px;
    padding: 0px 40px;
    margin-top: 10px;
    margin-left: 4%;
    font-size: x-large;
    transition: 0.3s ease;
    color: rgb(81, 81, 81);
}
.nav a:hover{
    transform: scale(1.3);
    background-color: rgb(62, 62, 62);
    color: aliceblue;
}
p{
    color: rgb(81, 81, 81);
    text-align: center;
    font-size: xx-large;
}
.ma{
    display: flex;
    padding: 50px;
}
.right-div{
    background-color: aliceblue;
    border: solid;
    border-radius: 15px;
    border-color: rgb(81, 81, 81);
    border-width: 10px;
}
.right-div img{
    width: auto;
    height: 90%;
    margin-top: 5%;
    margin-left: 2.5%;
    border-radius: 15px;
}
.left-div{
    
}